div.header {
    padding: 0 10px;
    background-color: #337ab7;
}

div.header > div.logo {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

input.search-bar {
    width: 300px;
}

div.header > button.create-button {
    margin-right: 100px;
}