.question-container {
    margin-left: 10px;
}

.choice-row {
    margin: 5px 0;
}

.choice-rows-container {
    padding-left: 20px;
}

.choice-row > input[type="radio"], .choice-row > input[type="checkbox"] {
    width: 25px;
    height: 15px;
    /*this input is placed in a flex container but we don't want them to grow or shrink'*/
    flex: none;
    margin: 0;
}

.question-container {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.question-container:hover {
    cursor: pointer;
}

.question-container > .question-text {
    transition: border-color 0.5s;
}

.question-container.selected > .question-text {
    border-color: cornflowerblue;
}

.question-container:last-child {
    border: none;
}

.question-text {
    font-size: 1.2em;
    border-left: 5px solid lightgray;
    padding-left: 5px;
    line-height: 2em;
}

.prev-question-text, .post-question-text {
    margin: 10px 0;
    color: darkgray;
}

div.sub-question > div.columns {
    max-height: 0;
    overflow: hidden;
}

div.sub-question.sub-open > div.columns {
    max-height: 500px;
    padding: 10px 0;
}

div.sub-question > div.sub-question-text {
    background-color: #e0dfdf;
    margin: 2px 0;
    padding: 5px 10px;
    border-radius: 3px;
}
div.question-container > div > div.sub-question > div.sub-question-text > .fa {
    transition: 0.5s;
    margin-right: 10px;
    color: darkgray;
}

div.question-container.selected > div > div.sub-question > div.sub-question-text > .fa {
    color: #337ab7;
}

div.append-new-question {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 300px;
}

div.question-container > div.ranks, div.question-container > div.candidates{
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
}

div.question-container > div.ranks {
    background-color: #e0dfdf;
}

div.question-container > div.ranks span, div.question-container > div.candidates span {
    width: 30px;
    display: inline-block;
}

div.question-container > div.ranks  button, div.question-container > div.candidates  button {
    /*display: block;*/
    margin: 10px auto;
    width: 80%;
    white-space: normal;
}


