.question-config textarea {
    resize: vertical;
}

.question-config .required {
    font-size: 0.8em;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 10px;
    background-color: #f0ad4e;
    border: 1px solid darkgray;
}

.question-config .add-option-button-container {
    text-align: right;
}

.question-config .top-btns {
    text-align: right;
    margin-bottom: 10px;
}

.question-config .top-btns > .top-btn {
    display: inline-block;
    margin-left: 10px;
}
